<div id="contenedor-login">
    <div class="login-reg-panel">
        <div class="login-info-box">
            <h2>¿Ya tiene una cuenta?</h2>
            <p>Bienvenido de nuevo</p>
            <button class="btn btn-primary btn-lg" (click)="cambiarPanelLogin()">Login</button>
        </div>

        <div class="register-info-box">
            <h2>¿No tienes una cuenta?</h2>
            <p>Registrate en minutos</p>
            <button class="btn btn-primary btn-lg" (click)="cambiarPanelRegistro()">Registro</button>
        </div>

        <div [ngClass]="{'white-panelA': login, 'white-panelB':registro}" class="white-panel">
            <img class="img-fluid" style="margin-top: 9px; object-position: right;" src="../../assets/img/ballenita-smally-1.png">
            <div class="login-show" *ngIf="login">
                <h2>LOGIN</h2>
                <input type="text" placeholder="Correo Electronico">
                <input type="password" placeholder="Contraseña">
                <button class="btn btn-dark  btn-lg">Login</button><br>
                <a href="">Forgot password?</a>
            </div>
            <div class="register-show" *ngIf="registro">
                <h2>REGISTRO</h2>
                <input type="text" placeholder="Nombre">
                <input type="text" placeholder="Correo Electronico">
                <input type="password" placeholder="Contraseña">
                <input type="password" placeholder="Confirmar contraseña">
                <button class="btn btn-dark btn-lg ">Registrar</button>
            </div>
        </div>
    </div>
</div>