<div id="contenedor-login">
    <div class="login-reg-panel">
        <div class="login-info-box">
            <h2>¿Ya tiene una cuenta?</h2>
            <p>Bienvenido de nuevo</p>
            <label id="label-register" for="log-reg-show">Login</label>
            <input type="radio" name="active-log-panel" id="log-reg-show" checked="checked">
        </div>

        <div class="register-info-box">
            <h2>¿No tienes una cuenta?</h2>
            <p>Registrate en minutos</p>
            <label id="label-login" for="log-login-show">Registro</label>
            <input type="radio" name="active-log-panel" id="log-login-show">
        </div>

        <div class="white-panel">
            <img class="img-fluid" style="margin-top: 10px; object-position: right;" src="../../assets/img/ballenita-smally-1.png">
            <div class="login-show">
                <h2>LOGIN</h2>
                <input type="text" placeholder="Correo Electronico">
                <input type="password" placeholder="Contraseña">
                <input type="button" value="Login">
                <a href="">Forgot password?</a>
            </div>
            <!-- <div class="register-show">

                <h2>REGISTRO</h2>
                <input type="text" placeholder="Nombre">
                <input type="text" placeholder="Correo Electronico">
                <input type="password" placeholder="Contraseña">
                <input type="password" placeholder="Confirmar contraseña">
                <input type="button" value="Register">
            </div> -->
        </div>
    </div>
</div>
