<div class="card mb-5 mt-5">
    <h5 class="card-header">Categorias</h5>
    <div class="card-body">
        <div class="row">
            <div class="col-sm-12">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Nombre Categoria</th>
                            <th scope="col">Opciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Ciencias</td>
                            <td><i class="far fa-trash-alt"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fas fa-upload"></i>&nbsp;&nbsp;</td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>Entretenimiento</td>
                            <td><i class="far fa-trash-alt"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fas fa-upload"></i>&nbsp;&nbsp;</td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>Comedia</td>
                            <td><i class="far fa-trash-alt"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fas fa-upload"></i>&nbsp;&nbsp;</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-sm-6 mt-5">
                <input class="form-control">
            </div>
            <div class="col-sm-6 mt-5">
                <button class="btn btn-dark"> Agregar categoria</button>
            </div>

        </div>
    </div>
</div>

<div class="card mb-5 mt-5">
    <h5 class="card-header">Comentarios</h5>
    <div class="card-body">
        <div class="row">
            <div class="col-sm-12">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Usuario</th>
                            <th scope="col">Comentario</th>
                            <th scope="col">Categoria</th>
                            <th scope="col">Opciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Mark</td>
                            <td>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eveniet aliquid sed excepturi fugit nisi natus magnam tenetur, esse facere ex, voluptatem possimus molestias odit ab vel nihil temporibus eius beatae.</td>
                            <td>Comedia</td>
                            <td><i class="far fa-trash-alt"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fas fa-exclamation"></i>&nbsp;&nbsp;</td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>Jacob</td>
                            <td>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eveniet aliquid sed excepturi fugit nisi natus magnam tenetur, esse facere ex, voluptatem possimus molestias odit ab vel nihil temporibus eius beatae.</td>
                            <td>Comedia</td>
                            <td><i class="far fa-trash-alt"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fas fa-exclamation"></i>&nbsp;&nbsp;</td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>Larry</td>
                            <td>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eveniet aliquid sed excepturi fugit nisi natus magnam tenetur, esse facere ex, voluptatem possimus molestias odit ab vel nihil temporibus eius beatae.</td>
                            <td>Tecnologia</td>
                            <td><i class="far fa-trash-alt"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fas fa-exclamation"></i>&nbsp;&nbsp;</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>