    /*
    DEMO STYLE
*/
    
    @import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
    body {
        font-family: 'Poppins', sans-serif;
        background: #fafafa;
    }
    
    p {
        font-family: 'Poppins', sans-serif;
        font-size: 1.1em;
        font-weight: 300;
        line-height: 1.7em;
        color: #999;
    }
    
    a,
    a:hover,
    a:focus {
        color: inherit;
        text-decoration: none;
        transition: all 0.3s;
    }
    
    .navbar {
        padding: 15px 10px;
        background: #fff;
        border: none;
        border-radius: 0;
        margin-bottom: 40px;
        box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    }
    
    .navbar-btn {
        box-shadow: none;
        outline: none !important;
        border: none;
    }
    
    .line {
        width: 100%;
        height: 1px;
        border-bottom: 1px dashed #ddd;
        margin: 40px 0;
    }
    /* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
    
    .wrapper {
        display: flex;
        width: 100%;
    }
    
    #sidebar {
        width: 250px;
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        z-index: 999;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: linear-gradient(110deg, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%), url(../../assets/img/fondo-2.jpg);
        color: #fff;
        transition: all 0.3s;
    }
    
    #sidebar.active {
        margin-left: -250px;
    }
    
    #sidebar .sidebar-header {
        padding: 20px;
        background: #6d7ecc00;
    }
    
    #sidebar ul.components {
        padding: 20px 0;
    }
    
    #sidebar ul p {
        color: #fff;
        padding: 10px;
    }
    
    #sidebar ul li a {
        padding: 10px;
        font-size: 1.1em;
        display: block;
    }
    
    #sidebar ul li a:hover {
        color: black;
        background: rgba(255, 255, 255);
        transition: 1s;
    }
    
    #sidebar ul li.active>a,
    a[aria-expanded="true"] {
        color: #fff;
        background: #0000008c;
    }
    
    a[data-toggle="collapse"] {
        position: relative;
    }
    
    .dropdown-toggle::after {
        display: block;
        position: absolute;
        top: 50%;
        right: 20px;
        transform: translateY(-50%);
    }
    
    ul ul a {
        font-size: 0.9em !important;
        padding-left: 30px !important;
        background: #000000bb;
    }
    
    ul.CTAs {
        padding: 20px;
    }
    
    ul.CTAs a {
        text-align: center;
        font-size: 0.9em !important;
        display: block;
        border-radius: 5px;
        margin-bottom: 5px;
    }
    
    a.download {
        background: #fff;
        color: #7386D5;
    }
    
    a.article,
    a.article:hover {
        background: #6d7fcc !important;
        color: #fff !important;
    }
    /* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
    
    #content {
        width: calc(100% - 250px);
        padding: 0px 20px 5px 20px;
        min-height: 100vh;
        transition: all 0.3s;
        position: absolute;
        top: 0;
        right: 0;
    }
    
    #content.active {
        width: 100%;
    }
    /* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
    
    @media (max-width: 768px) {
        #sidebar {
            margin-left: -250px;
        }
        #sidebar.active {
            margin-left: 0;
        }
        #content {
            width: 100%;
        }
        #content.active {
            width: calc(100% - 250px);
        }
        #sidebarCollapse span {
            display: none;
        }
    }
    /* deberian ser globales */
    /* _______________________________ESTILOS DE SECCION DE RECURSOS__________________________________________________________________ */
    /* deberian ser globales */
    /* _______________________________ FIN ESTILOS DE SECCION DE RECURSOS____________________________________________________ */
    /* _______________________________ FIN ESTILOS DE SECCION PAGINA PRINCIPAL____________________________________________________ */
    
    .card-header {
        color: white;
    }
    
    .form-control {
        color: rgb(0, 0, 0);
        background-color: #ffffff;
        border: 0px solid #ced4da;
        border-bottom: 1px solid black;
        transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
        border-radius: 0rem;
    }
    
    .form-control:hover,
    .form-control:focus,
    .form-control:active,
    input:focus {
        outline: none !important;
        outline-width: 0 !important;
        box-shadow: none;
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        border-bottom: 2px solid #39B54A;
    }
    
    #demo-preview {
        height: 100% !important;
    }