<div class="card mb-5 mt'5">
    <h5 class="card-header">Configuracion</h5>
    <div class="card-body">
        <div class="row">
            <div class="col-sm-6 mt-5">
                <div class="custom-file mb-3">
                    Subir nuevo favicon
                    <input type="file" class="custom-file-input" name="customFile" name="filename">
                    <label class="custom-file-label" for="customFile">Favicon</label>
                </div>
            </div>
            <div class="col-sm-6 mt-5">
                <div class="custom-file mb-3">
                    Subir logotipo
                    <input type="file" class="custom-file-input" name="customFile" name="filename">
                    <label class="custom-file-label" for="customFile">Logotipo</label>
                </div>
            </div>
            <div class="col-md-6 mt-3 mb-3">
                <label for="inputEmail4">Titulo Pagina</label>
                <input [(ngModel)]='TituloPagina' class="form-control" name="inputEmail4" placeholder="Pagina n">
            </div>
            <div class="col-md-6 mt-3 mb-3">
                <label for="inputPassword4">Palabras clave</label>
                <input [(ngModel)]='PalabrasClave' class="form-control" name="inputPassword4" placeholder="palabras clave">
            </div>

            <div class="col-sm-12 mt-3 mb-5">
                <div class="custom-file mb-3">
                    CSS extra:
                    <ckeditor [editor]="Editor" data="<p>Hello, world!</p>" [(ngModel)]='css'></ckeditor>
                </div>
            </div>
            <div class="col-sm-12 mt-3 mb-5">
                <div class="custom-file mb-3">
                    JS extra:
                    <ckeditor [editor]="Editor" data="<p>Hello, world!</p>" [(ngModel)]='js'></ckeditor>
                </div>
                <br>
            </div>

        </div>

    </div>
</div>

<div class="card mb-5">
    <h5 class="card-header">Encabezado pie de pagina</h5>
    <div class="card-body">
        <div id="demo-app">
            <div class="row">
                <div class="col-6 mb-3">
                    Color de fondo:<br>
                    <compact-picker [(color)]="colorFondo" [control]="compactControl"></compact-picker>
                </div>
                <div class="col-6 mb-3">
                    Color de texto:<br>
                    <compact-picker [(color)]="colorTexto" [control]="compactControl1"></compact-picker>
                </div>
                <div class="col-6 mb-3">
                    Colores de Header y footer<br>
                    <compact-picker [(color)]="colorHeadFoot" [control]="compactControl2"></compact-picker>
                </div>
                <div class="col-6 mb-3">
                    Color iconos:<br>
                    <compact-picker [(color)]="colorIcono" [control]="compactControl3"></compact-picker>
                </div>
                <div class="col-sm-6 mt-5">
                    <div class="custom-file mb-3">
                        <input type="file" class="custom-file-input" name="customFile" name="filename">
                        <label class="custom-file-label" for="customFile">Cargar Icono Principal</label>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="col-sm-12 m-2">
        <button (click)='guardar()' class="btn btn-dark">Guardar Cambios</button>
    </div>
</div>
