<div class="card mb-5 mt'5">
    <h5 class="card-header">Configuracion</h5>
    <div class="card-body">
        <div class="row">
            <div class="col-sm-6">
                <div class="custom-file mb-3">
                    Subir nuevo favicon
                    <input type="file" class="custom-file-input" id="customFile" name="filename">
                    <label class="custom-file-label" for="customFile">Favicon</label>
                </div>
            </div>
            <div class="col-sm-6 mt-5">
                <div class="custom-file mb-3">
                    Subir logotipo
                    <input type="file" class="custom-file-input" id="customFile" name="filename">
                    <label class="custom-file-label" for="customFile">Logotipo</label>
                </div>
            </div>
            <div class="col-md-6 mt-3 mb-3">
                <label for="inputEmail4">Titulo Pagina</label>
                <input class="form-control" id="inputEmail4" placeholder="Pagina n">
            </div>
            <div class="col-md-6 mt-3 mb-3">
                <label for="inputPassword4">Palabras clave</label>
                <input class="form-control" id="inputPassword4" placeholder="palabras clave">
            </div>

            <div class="col-sm-12 m-2">
                <button class="btn btn-dark">Guardar Cambios</button>
            </div>

        </div>

    </div>
</div>