<div class="card mb-5 mt-5">
    <h5 class="card-header">Usuarios</h5>
    <div class="card-body">
        <div class="row">
            <div class="col-sm-12">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Nombre Usuario</th>
                            <th scope="col">Rol</th>
                            <th scope="col">Cambiar Rol</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Rosa Martinez</td>
                            <td>Administrador</td>
                            <td>
                                <select id="inputState" class="form-control">
          <option selected>Choose...</option>
          <option>Administrador</option>
          <option>Registrado</option>
        </select>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>Mario Lopez</td>
                            <td>Registrado</td>
                            <td>
                                <select id="inputState0" class="form-control">
          <option selected>Choose...</option>
          <option>Administrador</option>
          <option>Registrado</option>
        </select>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>Jody Santos</td>
                            <td>Administrador</td>
                            <td>
                                <select id="inputState1" class="form-control">
          <option selected>Choose...</option>
          <option>Administrador</option>
          <option>Registrado</option>
        </select>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-sm-6 mt-5">
                Nombre
                <input class="form-control">
            </div>
            <div class="col-sm-6 mt-5">
                Rol
                <input class="form-control">
            </div>

            <div class="col-sm-6 mt-5">
                <button class="btn btn-dark"> Agregar Usuario</button>
            </div>

        </div>
    </div>
</div>