<div class="col-sm-6 ">
    <div class="custom-file mb-3">
        <input type="file" class="custom-file-input" id="customFile" name="filename">
        <label class="custom-file-label" for="customFile">Nuevo archivo</label>
    </div>

</div>
<div class="card text-center">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
                <a class="nav-link" href="#">Imagenes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Videos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Archivos de texto</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Otros</a>
            </li>
        </ul>
    </div>
    <div class="card-body">
        <!--########################################PLANTILLA IMAGENES#################################-->
        <section class="gallery-block cards-gallery">
            <div class="container">
                <div class="heading">
                    <h2>Imagenes</h2>
                </div>
                <div class="row">
                    <div class="col-md-6 col-lg-4">
                        <div class="card border-0 transform-on-hover">
                            <a class="lightbox" href="../../assets/img/portfolio-1.jpg">
                                <img src="../../assets/img/portfolio-1.jpg" alt="Card Image" class="card-img-top img-fluid">
                            </a>
                            <div class="card-body">
                                <h6>codigo:7894j9tuj943</h6>
                                <hr>
                                <p class="text-muted card-text"><i class="far fa-trash-alt"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fas fa-upload"></i></p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-4">
                        <div class="card border-0 transform-on-hover">
                            <a class="lightbox" href="../../assets/img/portfolio-3.jpg">
                                <img src="../../assets/img/portfolio-3.jpg" alt="Card Image" class="card-img-top img-fluid">
                            </a>
                            <div class="card-body">
                                <h6>codigo:7894j9tuj943</h6>
                                <hr>
                                <p class="text-muted card-text"><i class="far fa-trash-alt"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fas fa-upload"></i></p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-4">
                        <div class="card border-0 transform-on-hover">
                            <a class="lightbox" href="../../assets/img/portfolio-1.jpg">
                                <img src="../../assets/img/portfolio-3.jpg" alt="Card Image" class="card-img-top img-fluid">
                            </a>
                            <div class="card-body">
                                <h6>codigo:7894j9tuj943</h6>
                                <hr>
                                <p class="text-muted card-text"><i class="far fa-trash-alt"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fas fa-upload"></i></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="card border-0 transform-on-hover">
                            <a class="lightbox" href="../../assets/img/portfolio-2.jpg">
                                <img src="../../assets/img/portfolio-3.jpg" alt="Card Image" class="card-img-top img-fluid">
                            </a>
                            <div class="card-body">
                                <h6>codigo:7894j9tuj943</h6>
                                <hr>
                                <p class="text-muted card-text"><i class="far fa-trash-alt"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fas fa-upload"></i></p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>



    </div>
</div>